.productDetails {
  margin-top: 70px;
}

.productDetails h2 {
  font-size: 1.6rem;
  margin-bottom: 10px;
}

.productRating {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 15px;
}

.productRating span i {
  color: coral;
}

.productRating p span {
  color: coral;
  font-weight: 500;
}

.productPrice {
  font-size: 1.3rem;
}

.buyBtn {
  border: none;
  outline: none;
  padding: 8px 20px;
  border-radius: 5px;
  background: var(--primary-color);
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 30px;
}

.tabWrapper h6 {
  color: var(--primary-color);
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
}

.activeTab {
  font-weight: 600;
}

.tabContent p {
  line-height: 30px;
}

.reviewWrapper ul li span {
  color: coral;
  font-weight: 600;
}

.reviewWrapper ul li p {
  margin-top: 10px;
}

.reviewForm {
  width: 70%;
  margin: auto;
  margin-top: 50px;
}

.reviewForm h4 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 30px;
}

.formGroup {
  margin-bottom: 30px;
}

.formGroup input,
.formGroup textarea {
  width: 100%;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  padding: 8px 10px;
}

.formGroup input:focus,
.formGroup textarea:focus {
  outline: none;
}

.formGroup span {
  display: flex;
  align-items: center;
  column-gap: 5px;
  color: coral;
  font-weight: 600;
  cursor: pointer;
}

.relatedTitle {
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 30px;
}

@media (max-width: 768px) {
  .productDetails h2 {
    font-size: 1.3rem;
  }

  .ratingGroup {
    column-gap: 1rem !important;
  }
}


