.header {
  width: 100%;
  height: 70px;
  line-height: 70px;
}

.navWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.logo img {
  width: 1.5rem;
  height: 1.5rem;
}

.logo h1 {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--primary-color);
}

.menu {
  display: flex;
  align-items: center;
  column-gap: 2.7rem;
  margin-bottom: 0;
}

.navItem a {
  color: var(--primary-color);
  font-weight: 500;
  cursor: pointer;
}

.navIcons {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1.2rem;
}

.navIcons span i {
  font-size: 1.4rem;
  color: var(--primary-color);
  cursor: pointer;
}

.navIcons span img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.heartIcon,
.cartIcon {
  position: relative;
}

.badge {
  position: absolute;
  top: 25%;
  right: -8%;
  width: 15px;
  height: 15px;
  content: '';
  background: var(--primary-color);
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
  font-weight: 600;
  z-index: 10;
}

.mobileMenu {
  font-size: 1.3rem;
  color: var(--primary-color);
  display: none;
}

.navActive {
  font-weight: 700 !important;
}

.stickyHeader {
  width: 100%;
  height: 70px;
  line-height: 70px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  box-shadow: 3px 3px 8px -3px #ddd;
  background: #fff;
}

@media (max-width: 768px) {
  .navWrapper {
    position: relative;
  }

  .navIcons {
    position: absolute;
    top: 0;
    right: 50px;
  }

  .navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.63);
    z-index: 999;
    display: none;
  }

  .menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    background: #fff;
    z-index: 999;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .activeMenu {
    display: block;
  }

  .mobileMenu {
    display: block;
  }

  .mobileMenu span i {
    font-size: 1.1rem !important;
  }

  .logo img {
    width: 1rem;
    height: 1rem;
  }

  .logo h1 {
    font-size: 1rem;
  }

  .navIcons span img {
    width: 1.4rem;
    height: 1.4rem;
  }

  .heartIcon i,
  .cartIcon i {
    font-size: 1.2rem !important;
  }
  
  .header {
    width: 100%;
    height: 60px;
    line-height: 60px;
  }
}
